<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <title>D-Talk 1.0.1</title>
</head>
<body>
    <div class="hide-page" id="hide-page"></div>
    <form action="" id="loginForm">
        <div class="login-form-wrapper">
            <p class="title">D-TALK</p>
            <div class="login-form">
                <div class="input-wrapper" id="input-id-wrapper">
                    <p class="input-title">Id</p>
                    <input class="user-input" id="user-id-input" placeholder="">
                </div>
                <div class="input-wrapper" id="input-password-wrapper">
                    <p class="input-title">Password</p>
                    <input class="user-input" type="password" id="user-password-input">
                </div>
                <button class="display-button" id = "button-SignIn">로그인</button>
            </div>
        </div>
    </form>
</body>
<script src="../scripts/home.js"></script>
</html>